* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}

#string {
  height: 500px;
  width: 100%;
  background-color: red;
}
